/*
 * default.styles.css
 * 
 * Define only styles for default skin
 *
 * Created: 16.10.2013
 * Author: Rebeca Kurz <rk@inmedias.de>
 * Company: team in medias GmbH
 */

/**** Main Styles ****/
body { font-family: verdana, sans-serif; font-size: 16px; }

a.next,
a.button{
	background-color: #7a1716;
	color: #ffffff;
	padding: 0.4em 1em;
	border: 1px solid #d3d3d3;
	font-weight: normal;
}

.closeContainer {
	background: url(../img/arrow-down.png) center center no-repeat #323232;
	border-top: 1px solid #898d91;
	border-left: 1px solid #898d91;
	border-right: 1px solid #898d91;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.ui-dialog{border-radius: 0 0 0 0;}
.ui-dialog .ui-widget-header{background-color: #7a1716; background-image: none!important; color: #fff; border-radius: 0 0 0 0;}
.ui-dialog #txLessonName{width: 95%;}
.ui-dialog-buttonset .ui-state-default,
.ui-dialog-buttonset .ui-widget-content .ui-state-default,
.ui-dialog-buttonset .ui-widget-header .ui-state-default{background-color: #898d90!important; color: #ffffff; background-image: none;}

/****** Form Styles********************************************************************************************************/
input[type=text], select, textarea{ border: 1px solid #898d91; color: #111111; }

/****** Button******************************************************************************************************************/

input.ui-button, button.ui-button {color: #ffffff; background-image: none; border-radius: 0; }
button.ui-button.inactive { background-color: #898d91; color: #535353; border-color: #898d91; cursor: default; }

.form-action-buttons{
	background-color: #323232;
	border-top: 1px solid #898d91;
}

.cancelUserLessons,
.saveUserLessons,
.addLearnItem .saveLearnItem,
.addLearnItem .cancelLearnItem,
.logout, .login,
.rslides_nav.rslides1_nav.next,
.form-button{
	background-color: #7a1616!important;
	border: 1px solid #515547!important;
	padding: 0.625em!important;
	color: #ffffff!important;
	text-transform: uppercase;
	font-size: 100%;
	width: 95%;
}
.form-button-half{
	background: none;
	border: none;
	color: #ffffff;
	border-bottom: 0.625em solid #ffffff;
	text-transform: uppercase;
	font-size: 85%;
	padding-bottom: 0!important;
	width: 95%;
}

/**** Top Styles ***************************************************************************************************************/
.top { background-color: #7a1716; border-bottom: 2px solid #fff; }

/****** Main Content Styles ******/
.main h2 { color: #7a1716; border-bottom: 5px solid #7a1716; }

/**** Home ***************************************************************************************************************/
.container,
.container.home{background: url(../img/app-bg-main.png) no-repeat right bottom #333333; color: #ffffff;}
.container.home .main ul.buttons a{color: #ffffff; background: url(../img/bg_content_trans.png) repeat top right; border: 1px solid #5a5a5a; }

/******Lessons************************************************************************************************************/
p.info{color: #ffffff; background: url(../img/bg_content_trans.png) repeat top right; border: 1px solid #5a5a5a; }

ul.lesson li{
	border: 1px solid #5a5a5a;
	background: url(../img/bg_content_trans.png) repeat top right;
}

ul.lesson .lessonName{font-size: 100%; text-transform: uppercase; }

.cat-title{font-size: 1.25em; text-transform: uppercase; display: block; border-bottom: 5px solid #ffffff;}

button.addLessonClick{margin: 1.25em 0; background: none; border: none; border-top: 5px solid #8e3a39; width: 100%; margin-top: 0px; font-weight:bold}
.addLessonClick .ui-button-text{color: #8e3a39; text-transform: uppercase; font-size: 117%; text-align: right; padding: 0;}

/******Edit Lessons*******************************************************************************************************/
thead th{ color: #7a1716; border-bottom: 2px solid #7a1716;}

.alternate { background-color: #4d4d4d; }

.vocabulary tr.active,
ul.lesson li.active { background-color: rgba(142,58,57,0.5); }

#create-vocabulary{
	background-color: #7a1616;
	border: 1px solid #515547;
	color: #ffffff;
	font-size: 1em;
	text-transform: uppercase;
}

.lessonContent .lessonName,
.lessonContent .categoryName{
	display: inline-block;
	padding: 0.625em!important;
	border: 1px solid #5a5a5a!important;
	text-transform: uppercase;
	background: url(../img/bg_content_trans.png) repeat top right;
}
.lessonContent table.tablesorter{
	border: 1px solid #5a5a5a!important;
	background: url(../img/bg_content_trans.png) repeat top right;
	border-spacing: 0!important;
}
.lessonContent thead th{color: #8e3a39!important; border-bottom: 2px solid #8e3a39; text-transform: uppercase; }

.saveUserLessons,
.addLearnItem .saveLearnItem{
	background:url(../img/line_check-small-green.png) no-repeat center center #c0d6a9!important;
	border: 2px solid #73885c!important;
}
.cancelUserLessons,
.addLearnItem .cancelLearnItem{
	background:url(../img/line_close-small-red.png) no-repeat center center #d6a9a9!important;
	border: 2px solid #8e3a39!important;
}


/****** userSettings *******************************************************************************************************/
.container.user p.date { background-color: #999999; color: #555555; border: 1px solid #767273; }

.user > h3{font-weight: normal; margin: 0!important;}
.userLessonsWrap h2{margin-bottom: 0;}

.user .loggedInAs{
	font-weight: bold;
	border-bottom: 1px solid #fff;
	font-size: 117%;
}

.userSettings-container h2{
	color: #ffffff;
	text-transform: uppercase;
	border-bottom: 5px solid #ffffff;
}

#userSettings {
	border: 1px solid #5a5a5a!important;
	background: url(../img/bg_content_trans.png) repeat top right;
}

#userSettings .holiday .holiday-wrapper{
	background-color: #333;
}

#userSettings .password-meter{border: 2px solid #5a5a5a!important;}

.fixed-button{
	border-top: 1px solid #898d91;
	background-color: #323232;
}

.chooseUserLessons{
	border: 1px solid #5a5a5a!important;
	background: url(../img/bg_content_trans.png) repeat top right;
}

/**** Longterm Modus ***********************************************************************************************************/
.container.longterm .vocabulary textarea,
.container.test .question textarea { color: #008000; }

.container.longterm .question span.header,
.container.test .question span.header { background: url(../img/default/h2_vocabulary.png) no-repeat; }
.container.longterm .answer span.header,
.container.test .answer span.header { background: url(../img/default/h2_translation.png) no-repeat; }

.longtermList.longtermContainer,
.longtermLearn,
.testContainer {
	background-color: rgba(255,255,255,0.3);
	border: 1px solid #5a5a5a!important;
	background: url(../img/bg_content_trans.png) repeat top right;
}

.container.longterm h1,
.container.test h1 {
	color: #7a1716;
	font-size: 126%;
	text-transform: uppercase;
	border-bottom: 2px solid #7a1716;
}

.test .main h1,
.longterm .main h1{
	color: #ffffff;
	text-transform: uppercase;
	border-bottom: 5px solid #ffffff;
}

.longtermList li{text-transform: uppercase; background-color: #7a1716;}

.error.red,
p.red{
	background-color:#d6a9a9;
	color: #8e3a39;
	border: 1px solid #8e3a39;
	text-align: center;
	padding: 0.625em 1em;
	margin-bottom: 1.625em;
}
p.green{
	background-color:#c0d6a9;
	color: #73885c;
	border: 1px solid #73885c;
	text-align: center;
	padding: 0.625em 1em;
	margin-bottom: 1.625em;
}

/***** Classtest-modus ****************************************************************************************************/
.container.test .summaryTest span.headerSum { background: url(../img/default/h2_summary.png) no-repeat; }

.testContainer .enterTest{
	background-color: #7a1616;
	border: 1px solid #515547;
	width: 100%;
	padding: 0.625em;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 1em;
	margin-bottom: 0.625em;
}
.testContainer .enterTest.inactive{
	background-color: #898d91;
	border: 1px solid #515547;
	color: #333333;
}
.testContainer .cat-title{background: url(../img/folder_closed_small.png) no-repeat left bottom;}

.wrong.red{
	color: #8e3a39;
	text-transform: uppercase;
	border-bottom: 10px solid #8e3a39;
	margin-bottom: 1em;
	float: none;
	font-size: 1em;
}

.right.green{
	color: #73885c;
	text-transform: uppercase;
	border-bottom: 10px solid #73885c;
	margin-bottom: 1em;
	float: none;
	font-size: 1em;
}


/****** Bottom Styles ******/
.bottom{background-color: #7a1716;}
.bottom ul.bottom-buttons li{border-top: 2px solid #ffffff;}
.bottom ul.bottom-buttons li.active{border-top: 2px solid #7a1616}

div.bottom li.bottomMenuBorder { background: url(../img/bottomMenuBorder.png) transparent no-repeat; }

.container.home .main li.button a{font-size: 116%}
.bottom-buttons .button.active{background-color: #ffffff;}